{% extends 'layout.html'%}

{% block content%}
<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores modi
  maiores provident aperiam ex obcaecati, odit sint beatae eos blanditiis.
  Nesciunt esse qui placeat omnis eum iste accusamus ut et, maxime error est
  veniam culpa sapiente vel ullam nostrum laborum?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iste eos,
  repellendus est placeat, nostrum architecto nobis in deleniti magni totam,
  quidem quae? Quia cumque cum fuga reprehenderit! Labore, impedit aliquam
  facere inventore ratione excepturi, tenetur est odio placeat alias officiis
  illo illum fugit. Vel dolorum eius velit, magni cum aspernatur deleniti quas
  explicabo suscipit at optio id quae quia officiis illo dolor similique!
  Repellat vel quasi, id vitae, maxime accusantium asperiores perspiciatis
  tempora officiis at delectus praesentium magni ratione soluta ducimus
  exercitationem libero debitis ullam corrupti nisi pariatur! Recusandae.
</p>
{%endblock%}